.Student,
.StaffInformation,
.StudentInformation,
.StudentHistory,
.ViewStudent
 {
    .textbox 
    {
        input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
        input {
            width: 100%;
            outline: none;
        }
        .vdp-datepicker__calendar {
            position: absolute;
            z-index: 100;
            background: white;
            width: fit-content;
            border: 1px solid #ccc;
            
        }
    header{
        display: -webkit-box !important;
        display: flex !important;
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 1;
        background: #044604;
        color: #fff;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        text-align: center;
        margin-left: 0px;
        .up:not(.disabled):hover{
            background-color: #1b5e20;
        }
        .next:after{
            border-left: 10px solid white;
        }
        .next:hover,.prev:hover{
            background-color: #1b5e20 !important;
        }
        .prev:after{
            border-right: 10px solid white;
        }
        
    }
}
    #addMore{
        display: none;
    }
    .modalbtn{
        float: right;
        margin-right: 10px;
        background-color: #1b5e20;
        border: none;
        border-radius: 3px;
        width: 120px;
        font-size: 15px;
        color: white;
        padding: 5px;
        margin-bottom: 10px;
    }
     .inputbtn{
    padding-left: 5px;
    font-size: 18px;
    display: block;
    width: 100%;
    height: 28px;
    line-height: 1.5;
    color: #1b5e20;
    font-weight: bold;
    border: none;
    background-color: white;
    outline: none;
    text-align: left;
     }
     .inputbtn:focus{
         outline: none;
         border: none;
     }
    margin-top: 5rem !important;
    padding: 0 1rem;
    .row {
        .col1 {
            width: 4%;
        }
        .col2 {
            width: 24%;
            padding: 0 5px;
        }
        .col3 {
            width: 24%;
            padding: 0 5px;
        }
        .col4 {
            width: 24%;
            padding: 0 5px;
        }
        .col5 {
            width: 24%;
            padding: 0 5px;
        }
    }

    background-color: whitesmoke;
    z-index: 0;
    // margin-top: 100px;
    margin-bottom: 10px;
    .card {
        .footer {
            margin-top: 10px;
            width: 100%;
            margin-bottom: 10px;
            button {
                float: right;
                margin-right: 2%;
                background-color: #1b5e20;
                border: none;
                border-radius: 3px;
                width: 120px;
                font-size: 15px;
                color: white;
                padding: 5px;
            }
        }
        background-color: khaki;
        .stucard-header {
            display: flex;
            align-items: center;
            height: 34px;
            background-color: #1b5e20;
            margin: -20px 15px 0px 15px;
            padding: 0;
            padding-left: 20px;
            color: white;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            h6 {
              margin: 0;
              font-size: 16px;
            }
          }
        .stusub-header {
            display: flex;
            align-items: center;
            height: 34px;
            background-color: #1b5e20;
            margin: 0 15px 0px 15px;
            padding: 0;
            padding-left: 20px;
            color: white;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            h6 {
                margin:0;
                font-size: 16px;
                width: 100%;
            }
          }
        .stucard-body {
            background-color: white;
            box-shadow: 0px 7px 15px #888888;
            margin: 0px 15px 0 15px;
            margin-bottom: 15px;
            .row {
                margin: 10px;
                .textbox {
                    width: 25%;
                    padding: 5px;
                    p{
                        margin: 0;
                        padding: 0;
                    }
                    .span{
                        margin: 4px 5px 0px 0;
                        float:right;
                        padding:0 7px;
                        cursor: pointer;
                        background-color: #1b5e20;
                        color: white;
                        border-radius: 3px;
                    }
                    img{
                        margin: 0 50px;
                        margin: 0;
                        text-align: center;
                    }

                    label {
                        font-size: 13px;
                    }
                    i {
                        font-weight: lighter;
                        font-size: 20px;
                        margin-right: 5px;
                    }
                }
                .textarea{
                    span{
                        input{
                            margin-left: 10px;
                        }
                    }
                }
                textarea.form-control {
                    height: 180px;
                }
                img.form-control {
                    height: 180px;
                }
                .textbox img:active {
                    background-color: gray;
                    filter: drop-shadow(0 0 7px rgba(90, 90, 88, 0.7));
                }
            }
        }
    }
}