.form{
    .card{
        .card-body{
            .row{                
                .btnTrash{
                    padding: 0.3rem 0.60rem;
                    border: none;
                    color: white;
                    font-size: 12px;
                    background-color: red;
                    border-radius: 3px;
                }                
            }
            .btnSave{
                float: right;
                width: 80px !important;
                display: block;
                height: 30px;
                font-size: 13px;
                margin: 0 0 1rem 1rem;
                outline: none;
                border: none;
                color: White;
                text-decoration: none;
                background-color: #1b5e20;
                border-radius: 3px;
            }
        }        
    }
}