body {
  background: whitesmoke;
}
.content{
  width: 100%;
  
    .content_header{
      box-shadow: 0 0px 20px 1px rgba(0, 0, 0, 0.5);
      background-color: white;
      width:100%;
      height:61px;
      position: fixed;
      z-index: 1;
      // User Name
      .Items {
        position: absolute;
        right: 14rem;
        .userTitle {
          margin-top: 0.7rem;
          .userName {
            margin: 0;
            font-size: 17px;
            color: rgb(150, 52, 52);
          }
          p {
            margin: 0;
            text-align: center;
            font-size: 15px;
          }
        }
      }
      // User Name
      // Profile 
      .profile {
        position: absolute;
        right: 9rem;
        top: 3px;
        .user {
          zoom: 2.5;
          height: 22px;
          width: 33px;
          padding: 0 5px;
          display: flex;
          align-items: center;
        }
      }
      // Profile
      // Notific
      .notific {
        position: absolute;
        right: 7rem;
        .badge {
          background: #d82f2f;
          border-radius: 50%;
          font-size: 8px;
          padding: 0.4em 0.6em;
          position: relative;
          top: -20px;
          color: white;
          left: 45px;
          border: 1px solid #f56a6a;
          box-shadow: 0.5px 5px 5px #ff9e9e;
          }
          .bell {
            padding: 1.5rem 1rem;
          }
      }
      // Notific
      // Message
      .message {
        position: absolute;
        right: 4.2rem;
        .badge {
          background: #d82f2f;
          border-radius: 50%;
          font-size: 8px;
          padding: 0.4em 0.6em;
          position: relative;
          top: -20px;
          color: white;
          left: 45px;
          border: 1px solid #f56a6a;
          box-shadow: 0.5px 5px 5px #ff9e9e;
        }
        .mail {
            padding: 1.5rem 1rem;
        }
      }
      // Message
      // Language
      .language {
        position: absolute;
        right: 1rem;
        .lan {
          color: #e89517;
          padding: 1.5rem 10px;
        }
      }
      // Language
      #list {
        position: absolute;
        left: 150px;
        zoom: 1.5;
        padding: 0.8rem 2rem;
        cursor: pointer;
        color: #000000b3;
      }
      #list:hover {
        color: black;
      }
    }
  
    .menu:hover{
      cursor: pointer;
    }
  }
  