.systemsetting {
  .modal-bodys {
    #row {
      margin: 0px;
      padding-bottom: 2rem;
      border-bottom: 1px solid #343a400f;
    }
    .Theme {
      .curTheme {
        padding-top: 1rem;
        padding-left: 1rem;
      }
    }
    #ThemeColor {
      margin: 0px;
      .col-xs-6 {
        width: 50%;
      }
      .blockColor {
        margin: 1rem 0;
        padding: 1px;
        border-radius: 5px;
        .backColor {
          border-radius: 5px;
          cursor: pointer;
          background: var(--gray-dark);
          height: 6rem;
          display: flex;
          justify-content: center;
          align-items: center;
          .default {
            margin: 0px;
            font-size: 15px;
            color: white;
            filter: opacity(1);
            text-align: center;
          }
        }
        // .backColor:hover {
        //   cursor: pointer;
        //   border: 3px solid rgb(105, 105, 105);
        //   p {
        //     filter: opacity(1);
        //   }
        // }
      }
    }
  }

  .rowContainer {
    margin-left: 0;
    .imgCard {
      padding: 1rem;
      .img {
        border: 1px solid var(--success);
        border-radius: 5px;
        padding: 10px;
      }
      .button {
        .edit {
          float: none;
          margin: 1rem auto;
          margin-bottom: 0;
          display: block;
          width: 150px;
          background: #1b5e20;
          border: none;
          font-weight: bold;
          border-radius: 5px;
          font-size: 14px;
          outline: none;
          color: white;
          height: 35px;
          .editIcon {
            margin-right: 10px;
          }
        }
        .edit {
          background-position: center;
          transition: background 0.6s;
        }
        .edit:hover {
          background: #1b5e20 radial-gradient(circle, transparent 1%, #1b5e20 1%) center/15000%;
        }
        .edit:active {
          background-color: rgba(44, 92, 51, 0.623);
          background-size: 100%;
          transition: background 0s;
        }
      }
    }
    .tableCard {
      padding: 0;
      padding-top: 5px;
      .table-responsive {
        padding: 0;
        td {
          padding: 7px 1rem;
          border: none;
          span {
            display: flex;
            align-items: center;
            .rd:after {
              background: #1b5e20;
            }
            .rd:checked:after {
              background: #1b5e20;
              border: 2px solid grey;
            }
            .rd1:after {
              background: darkred;
            }
            .rd1:checked:after {
              background: darkred;
              border: 2px solid grey;
            }
            .rd2:after {
              background: darkcyan;
            }
            .rd2:checked:after {
              background: darkcyan;
              border: 2px solid grey;
            }
            .rd3:after {
              background: currentColor;
            }
            .rd3:checked:after {
              background: currentColor;
              border: 2px solid grey;
            }
            .rd4:after {
              background: #edeeef;
            }
            .rd4:checked:after {
              background: #edeeef;
              border: 2px solid grey;
            }
            .rd:after,
            .rd1:after,
            .rd2:after,
            .rd3:after,
            .rd4:after {
              width: 15px;
              height: 15px;
              border-radius: 0px !important;
              top: -2px;
              left: -1px;
              border: 0.1px solid rgba(0, 0, 0, 0.452);
              position: relative;
              content: "";
              display: inline-block;
              visibility: visible;
            }
            .rd:checked:after,
            .rd1:checked:after,
            .rd2:checked:after,
            .rd3:checked:after,
            .rd4:checked:after {
              width: 15px;
              height: 15px;
              border-radius: 15px;
              top: -2px;
              left: -1px;
              position: relative;
              content: "";
              display: inline-block;
              visibility: visible;
            }
            .radio {
              margin-right: 8px;
            }
            label {
              margin-bottom: 0.2rem;
            }
          }
        }
      }
    }
    .editCard {
      .edit {
        width: 40px;
        font-size: 11px;
        position: absolute;
        outline: none;
        right: 25px;
        color: #1b5e20;
        font-weight: bold;
        height: 20px;
        border: none;
        border-radius: 3px;
      }
      .edit {
        background-position: center;
        transition: background 0.6s;
      }
      .edit:hover {
        background: #ffffff radial-gradient(circle, transparent 1%, #ffffff 1%) center/15000%;
      }
      .edit:active {
        background-color: rgba(255, 255, 255, 0.623);
        background-size: 100%;
        transition: background 0s;
      }
    }
  }
}
