.systemsetting {
  .rowContainer {
    margin-left: 0;
    .imgCard {
      padding: 1rem;
      .img {
        border: 1px solid var(--success);
        border-radius: 5px;
        padding: 10px;
      }
      .button {
        .edit {
          float: none;
          margin: 1rem auto;
          margin-bottom: 0;
          display: block;
          width: 150px;
          background: #1b5e20;
          border: none;
          font-weight: bold;
          border-radius: 5px;
          font-size: 14px;
          outline: none;
          color: white;
          height: 35px;
          .editIcon {
            margin-right: 10px;
          }
        }
        .edit {
          background-position: center;
          transition: background 0.6s;
        }
        .edit:hover {
          background: #1b5e20 radial-gradient(circle, transparent 1%, #1b5e20 1%) center/15000%;
        }
        .edit:active {
          background-color: rgba(44, 92, 51, 0.623);
          background-size: 100%;
          transition: background 0s;
        }
      }
    }
    .tableCard {
      padding: 0;
      padding-top: 5px;
      .theme {
        padding: 10px 1rem;
      }
      .table-responsive {
        padding: 0;
        td {
          padding: 7px 1rem;
          border: none;
        }
      }
    }
    .editCard {
      .edit {
        width: 40px;
        font-size: 11px;
        position: absolute;
        outline: none;
        right: 25px;
        color: #1b5e20;
        font-weight: bold;
        height: 20px;
        border: none;
        border-radius: 3px;
      }
      .edit {
        background-position: center;
        transition: background 0.6s;
      }
      .edit:hover {
        background: #ffffff radial-gradient(circle, transparent 1%, #ffffff 1%) center/15000%;
      }
      .edit:active {
        background-color: rgba(255, 255, 255, 0.623);
        background-size: 100%;
        transition: background 0s;
      }
    }
  }
}
