.ViewStudent {
    margin-top: 0;
  .modalinput {
    width: 100%;
    padding: 10px;
  }
  .remains {
    .card-body {
      padding-top: 1rem;
    }
    .search {
      // width: 80px;
      float: right;
      height: 30px;
      margin-top: 10px;
      background: #1b5e20;
      color: white;
      font-size: 13px;
      border: none;
      border-radius: 3px;
      padding: 5px;
      margin-right: 10px;
    }
    .TimeLine {
      span {
        color: white;
        background-color: var(--success);
        padding: 3px;
        display: inline-block;
        border-radius: 5px;
        font-size: 13px;
        margin-left: 10px;
      }
      .timeline {
        position: relative;
        margin: 0 auto;
        color: white;
      }

      /* The actual timeline (the vertical ruler) */
      .timeline::after {
        content: "";
        position: absolute;
        width: 6px;
        background-color: #1b5e20;
        top: 0;
        bottom: 0;
        // left: 50%;
        margin-left: 36px;
      }

      /* Container around content */
      .container {
        padding: 10px 0px 10px 40px;
        position: relative;
        background-color: none;
        width: 90%;
      }

      /* The circles on the timeline */
      .container::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: white;
        border: 1px solid black;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
      }

      /* Add arrows to the right container (pointing left) */
      .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent #1b5e20 transparent transparent;
      }

      /* Fix the circle for containers on the right side */
      .right::after {
        left: -16px;
      }
      .right {
        background-color: white;
        margin-left: 42px;
      }

      /* The actual content */
      .content {
        // padding: 0px 30px;
        // background-color: gray;
        position: relative;
        border-radius: 6px;
        background-color: #ddd;

        h6 {
          width: 100%;
          color: white;
          background-color: #1b5e20;
          padding: 10px;
          border-top-right-radius: 3px;
          border-top-left-radius: 3px;
          // margin: 0;
        }
        p {
          margin-top: -8px;
          padding: 10px;
          color: black;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
        }
      }
    }
  }
  .metaBtn {
    margin-top: 1px;
    color: white;
    background-color: #1b5e20;
    border: none;
    padding: 5px;
    width: 100px;
    height: 34px;
    text-align: center;
    font-size: 14px;
  }
  .metaBtn:active {
    border: none;
    outline: none;
  }
  .metaBtn:focus {
    border: none;
    outline: none;
  }
  .textbox {
    h6 {
      font-weight: bold;
      text-align: center;
    }
  }
  .student {
    .container {
      width: 60%;
      margin-left: 20%;
      height: 100px;
      margin-top: 10px;
    }
    h4 {
      margin-top: 10px;
      font-size: 18px;
      text-align: center;
      color: seagreen;
    }
    img {
      width: 100%;
      height: 100px;
      border-radius: 20px;
      border: 2px solid rgb(194, 193, 193);
    }
    ul {
      margin-top: 10px;
      padding: 0px 10px 0 10px;
      li {
        border-bottom: 0.5px solid rgb(194, 193, 193);
        // padding-top: 10px;
        padding: 10px 10px 0 10px;
        b {
          font-size: 15px;
          font-weight: 400;
        }
        a {
          float: right;
          color: seagreen;
        }
      }
    }
  }
  .exam {
    .sub-header {
      margin-top: 10px;
    }
  }
  .profile {
    ul {
      // margin-top: 10px;
      margin: 0 10px 0 10px;
      // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      padding: 10px 10px 20px 10px;
      li {
        border-bottom: 0.5px solid rgb(194, 193, 193);
        padding-top: 10px;
        b {
          padding-left: 10px;
          font-size: 15px;
          font-weight: 400;
          width: 50%;
        }
        a {
          // width: 50%;
          padding-right: 10px;
          float: right;
          color: seagreen;
        }
      }
    }
    .parents {
      .row {
        ul {
          width: 70%;
        }
        .container {
          width: 25%;
          float: left;
          img {
            // display: flex;
            // vertical-align: middle;
            margin-top: 10%;
            border-radius: 20px;
            border: 2px solid rgb(194, 193, 193);
            width: 80%;
          }
        }
      }
    }
  }
  .sibling {
    .container {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      width: 100%;
      display: block;
      height: 80px;
    }
    img {
      float: left;
      width: 65px;
      height: 65px;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.24);
      border-radius: 50%;
      border: 2px solid rgb(194, 193, 193);
    }
    h4 {
      font-size: 18px;
      float: left;
      color: seagreen;
      vertical-align: middle;
      margin-top: 20px;
      margin-left: 5px;
    }
    ul {
      margin-top: 10px;
      padding: 0 10px 0 10px;
      li {
        border-bottom: 0.5px solid rgb(194, 193, 193);
        padding: 10px 10px 0 10px;
        b {
          font-size: 15px;
          font-weight: 400;
        }
        a {
          float: right;
          color: seagreen;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .remains {
    margin-top: 3rem;
  }
}
